<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GenericDAO">

    <cache/>

    <insert id="insert" keyProperty="entity.id" keyColumn="ID" useGeneratedKeys="true">
        INSERT INTO ${tableName}
        <!--(ID, LOGIN, EMAIL)-->
        <foreach collection="resultMappings" item="entry" separator="," open="(" close=")">
            ${entry.column}
        </foreach>
        VALUES
        <!--(#{id}, #{login}, #{email})-->
        <foreach collection="resultMappings" item="entry" separator="," open="(" close=")">
            #{entity.${entry.property}}
        </foreach>
    </insert>

    <update id="update" keyProperty="id" keyColumn="ID">
        UPDATE ${tableName}
        SET
        <foreach collection="resultMappings" item="entry" separator=",">
            <if test="!entry.isId">
                ${entry.column} = #{entity.${entry.property}}
            </if>
        </foreach>
        WHERE
        <foreach collection="resultMappings" item="entry" separator=" AND ">
            <if test="entry.isId">
                ${entry.column} = #{entity.${entry.property}}
            </if>
        </foreach>
    </update>

    <delete id="delete">
        DELETE FROM ${tableName}
        WHERE
        <foreach collection="resultMappings" item="entry" separator=" AND ">
            <if test="entry.isId">
                ${entry.column} = #{entity.${entry.property}}
            </if>
        </foreach>
    </delete>

</mapper>
